body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  font-family: "Nunito";
}
.content {
  width: 1200px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.navbar-links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 130px;
}
.navbar-links a {
  text-decoration: none;
  color: #4b5d68;
}
.navbar-links a:first-of-type {
  font-weight: 800;
  color: #212353;
}
.navbar-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-button-link {
  margin-right: 100px;
  width: 210px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  color: #212353;
  font-size: 16px;
  font-weight: 800;
  box-shadow: 0px 5px 5px 0px #4b5d681a;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-button-link img {
  height: 14px;
  width: 20px;
  margin-left: 20px;
}
.main-sections {
  margin-top: 110px;
}
.hero-section {
  background: url(images/image1\ 1.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 100vh;
}
.hero-heading {
  color: #212353;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  width: 50%;
  margin-top: 0;
}
.hero-text {
  color: #4b5d68;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  width: 380px;
}
.hero-link {
  background-color: #9c69e2;
  width: 170px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  margin-top: 50px;
}
.about-section {
  height: 560px;
  border-radius: 50px;
  background: #f063b826;
  display: flex;
  align-items: center;
  gap: 80px;
  padding-left: 50px;
}
.about-section-text-box {
  width: 470px;
  display: flex;
  flex-direction: column;
}
.about-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #212353;
}
.about-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #4b5d68;
}
.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #212353;
}
.features-text {
  width: 50%;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  color: #4b5d68;
}
.features-cards {
  display: flex;
}
